*.dat filter=lfs diff=lfs merge=lfs -text
C91.csv filter=lfs diff=lfs merge=lfs -text
C92.csv filter=lfs diff=lfs merge=lfs -text
C93.csv filter=lfs diff=lfs merge=lfs -text
C94.csv filter=lfs diff=lfs merge=lfs -text
C97.csv filter=lfs diff=lfs merge=lfs -text
C99.csv filter=lfs diff=lfs merge=lfs -text
C100.csv filter=lfs diff=lfs merge=lfs -text
C90.csv filter=lfs diff=lfs merge=lfs -text
C95.csv filter=lfs diff=lfs merge=lfs -text
C96.csv filter=lfs diff=lfs merge=lfs -text
C98.csv filter=lfs diff=lfs merge=lfs -text
C140.csv filter=lfs diff=lfs merge=lfs -text
C286.csv filter=lfs diff=lfs merge=lfs -text
C248.csv filter=lfs diff=lfs merge=lfs -text
C256.csv filter=lfs diff=lfs merge=lfs -text
C131.csv filter=lfs diff=lfs merge=lfs -text
C145.csv filter=lfs diff=lfs merge=lfs -text
C158.csv filter=lfs diff=lfs merge=lfs -text
C161.csv filter=lfs diff=lfs merge=lfs -text
C188.csv filter=lfs diff=lfs merge=lfs -text
C237.csv filter=lfs diff=lfs merge=lfs -text
C271.csv filter=lfs diff=lfs merge=lfs -text
C292.csv filter=lfs diff=lfs merge=lfs -text
C211.csv filter=lfs diff=lfs merge=lfs -text
C242.csv filter=lfs diff=lfs merge=lfs -text
C122.csv filter=lfs diff=lfs merge=lfs -text
C147.csv filter=lfs diff=lfs merge=lfs -text
C154.csv filter=lfs diff=lfs merge=lfs -text
C171.csv filter=lfs diff=lfs merge=lfs -text
C187.csv filter=lfs diff=lfs merge=lfs -text
C201.csv filter=lfs diff=lfs merge=lfs -text
C250.csv filter=lfs diff=lfs merge=lfs -text
C230.csv filter=lfs diff=lfs merge=lfs -text
C102.csv filter=lfs diff=lfs merge=lfs -text
C124.csv filter=lfs diff=lfs merge=lfs -text
C132.csv filter=lfs diff=lfs merge=lfs -text
C163.csv filter=lfs diff=lfs merge=lfs -text
C189.csv filter=lfs diff=lfs merge=lfs -text
C190.csv filter=lfs diff=lfs merge=lfs -text
C266.csv filter=lfs diff=lfs merge=lfs -text
C277.csv filter=lfs diff=lfs merge=lfs -text
C128.csv filter=lfs diff=lfs merge=lfs -text
C167.csv filter=lfs diff=lfs merge=lfs -text
C176.csv filter=lfs diff=lfs merge=lfs -text
C216.csv filter=lfs diff=lfs merge=lfs -text
C220.csv filter=lfs diff=lfs merge=lfs -text
C263.csv filter=lfs diff=lfs merge=lfs -text
C114.csv filter=lfs diff=lfs merge=lfs -text
C146.csv filter=lfs diff=lfs merge=lfs -text
C288.csv filter=lfs diff=lfs merge=lfs -text
C0.csv filter=lfs diff=lfs merge=lfs -text
C123.csv filter=lfs diff=lfs merge=lfs -text
C138.csv filter=lfs diff=lfs merge=lfs -text
C143.csv filter=lfs diff=lfs merge=lfs -text
C208.csv filter=lfs diff=lfs merge=lfs -text
C210.csv filter=lfs diff=lfs merge=lfs -text
C141.csv filter=lfs diff=lfs merge=lfs -text
C164.csv filter=lfs diff=lfs merge=lfs -text
C227.csv filter=lfs diff=lfs merge=lfs -text
C231.csv filter=lfs diff=lfs merge=lfs -text
C243.csv filter=lfs diff=lfs merge=lfs -text
C259.csv filter=lfs diff=lfs merge=lfs -text
C207.csv filter=lfs diff=lfs merge=lfs -text
C265.csv filter=lfs diff=lfs merge=lfs -text
C144.csv filter=lfs diff=lfs merge=lfs -text
C157.csv filter=lfs diff=lfs merge=lfs -text
C168.csv filter=lfs diff=lfs merge=lfs -text
C178.csv filter=lfs diff=lfs merge=lfs -text
C195.csv filter=lfs diff=lfs merge=lfs -text
C199.csv filter=lfs diff=lfs merge=lfs -text
C108.csv filter=lfs diff=lfs merge=lfs -text
C120.csv filter=lfs diff=lfs merge=lfs -text
C279.csv filter=lfs diff=lfs merge=lfs -text
C111.csv filter=lfs diff=lfs merge=lfs -text
C172.csv filter=lfs diff=lfs merge=lfs -text
C181.csv filter=lfs diff=lfs merge=lfs -text
C247.csv filter=lfs diff=lfs merge=lfs -text
C280.csv filter=lfs diff=lfs merge=lfs -text
C112.csv filter=lfs diff=lfs merge=lfs -text
C148.csv filter=lfs diff=lfs merge=lfs -text
C151.csv filter=lfs diff=lfs merge=lfs -text
C165.csv filter=lfs diff=lfs merge=lfs -text
C202.csv filter=lfs diff=lfs merge=lfs -text
C205.csv filter=lfs diff=lfs merge=lfs -text
C105.csv filter=lfs diff=lfs merge=lfs -text
C110.csv filter=lfs diff=lfs merge=lfs -text
C129.csv filter=lfs diff=lfs merge=lfs -text
C162.csv filter=lfs diff=lfs merge=lfs -text
C175.csv filter=lfs diff=lfs merge=lfs -text
C261.csv filter=lfs diff=lfs merge=lfs -text
C109.csv filter=lfs diff=lfs merge=lfs -text
C125.csv filter=lfs diff=lfs merge=lfs -text
C134.csv filter=lfs diff=lfs merge=lfs -text
C289.csv filter=lfs diff=lfs merge=lfs -text
C293.csv filter=lfs diff=lfs merge=lfs -text
C290.csv filter=lfs diff=lfs merge=lfs -text
C119.csv filter=lfs diff=lfs merge=lfs -text
C160.csv filter=lfs diff=lfs merge=lfs -text
C166.csv filter=lfs diff=lfs merge=lfs -text
C244.csv filter=lfs diff=lfs merge=lfs -text
C255.csv filter=lfs diff=lfs merge=lfs -text
C281.csv filter=lfs diff=lfs merge=lfs -text
C150.csv filter=lfs diff=lfs merge=lfs -text
C177.csv filter=lfs diff=lfs merge=lfs -text
C184.csv filter=lfs diff=lfs merge=lfs -text
C198.csv filter=lfs diff=lfs merge=lfs -text
C228.csv filter=lfs diff=lfs merge=lfs -text
C284.csv filter=lfs diff=lfs merge=lfs -text
C103.csv filter=lfs diff=lfs merge=lfs -text
C117.csv filter=lfs diff=lfs merge=lfs -text
C185.csv filter=lfs diff=lfs merge=lfs -text
C197.csv filter=lfs diff=lfs merge=lfs -text
C285.csv filter=lfs diff=lfs merge=lfs -text
C270.csv filter=lfs diff=lfs merge=lfs -text
C104.csv filter=lfs diff=lfs merge=lfs -text
C149.csv filter=lfs diff=lfs merge=lfs -text
C152.csv filter=lfs diff=lfs merge=lfs -text
C221.csv filter=lfs diff=lfs merge=lfs -text
C239.csv filter=lfs diff=lfs merge=lfs -text
C251.csv filter=lfs diff=lfs merge=lfs -text
C115.csv filter=lfs diff=lfs merge=lfs -text
C137.csv filter=lfs diff=lfs merge=lfs -text
C170.csv filter=lfs diff=lfs merge=lfs -text
C179.csv filter=lfs diff=lfs merge=lfs -text
C252.csv filter=lfs diff=lfs merge=lfs -text
C295.csv filter=lfs diff=lfs merge=lfs -text
C191.csv filter=lfs diff=lfs merge=lfs -text
C203.csv filter=lfs diff=lfs merge=lfs -text
C219.csv filter=lfs diff=lfs merge=lfs -text
C238.csv filter=lfs diff=lfs merge=lfs -text
C240.csv filter=lfs diff=lfs merge=lfs -text
C257.csv filter=lfs diff=lfs merge=lfs -text
C196.csv filter=lfs diff=lfs merge=lfs -text
C246.csv filter=lfs diff=lfs merge=lfs -text
C254.csv filter=lfs diff=lfs merge=lfs -text
C298.csv filter=lfs diff=lfs merge=lfs -text
C126.csv filter=lfs diff=lfs merge=lfs -text
C156.csv filter=lfs diff=lfs merge=lfs -text
C226.csv filter=lfs diff=lfs merge=lfs -text
C173.csv filter=lfs diff=lfs merge=lfs -text
C193.csv filter=lfs diff=lfs merge=lfs -text
C213.csv filter=lfs diff=lfs merge=lfs -text
C235.csv filter=lfs diff=lfs merge=lfs -text
C258.csv filter=lfs diff=lfs merge=lfs -text
C274.csv filter=lfs diff=lfs merge=lfs -text
C116.csv filter=lfs diff=lfs merge=lfs -text
C121.csv filter=lfs diff=lfs merge=lfs -text
C174.csv filter=lfs diff=lfs merge=lfs -text
C194.csv filter=lfs diff=lfs merge=lfs -text
C225.csv filter=lfs diff=lfs merge=lfs -text
C241.csv filter=lfs diff=lfs merge=lfs -text
C249.csv filter=lfs diff=lfs merge=lfs -text
C118.csv filter=lfs diff=lfs merge=lfs -text
C135.csv filter=lfs diff=lfs merge=lfs -text
C192.csv filter=lfs diff=lfs merge=lfs -text
C218.csv filter=lfs diff=lfs merge=lfs -text
C233.csv filter=lfs diff=lfs merge=lfs -text
C236.csv filter=lfs diff=lfs merge=lfs -text
C278.csv filter=lfs diff=lfs merge=lfs -text
C113.csv filter=lfs diff=lfs merge=lfs -text
C182.csv filter=lfs diff=lfs merge=lfs -text
C186.csv filter=lfs diff=lfs merge=lfs -text
C223.csv filter=lfs diff=lfs merge=lfs -text
C262.csv filter=lfs diff=lfs merge=lfs -text
C296.csv filter=lfs diff=lfs merge=lfs -text
C200.csv filter=lfs diff=lfs merge=lfs -text
C215.csv filter=lfs diff=lfs merge=lfs -text
C133.csv filter=lfs diff=lfs merge=lfs -text
C136.csv filter=lfs diff=lfs merge=lfs -text
C139.csv filter=lfs diff=lfs merge=lfs -text
C142.csv filter=lfs diff=lfs merge=lfs -text
C169.csv filter=lfs diff=lfs merge=lfs -text
C180.csv filter=lfs diff=lfs merge=lfs -text
C217.csv filter=lfs diff=lfs merge=lfs -text
C229.csv filter=lfs diff=lfs merge=lfs -text
C264.csv filter=lfs diff=lfs merge=lfs -text
C273.csv filter=lfs diff=lfs merge=lfs -text
C291.csv filter=lfs diff=lfs merge=lfs -text
C101.csv filter=lfs diff=lfs merge=lfs -text
C153.csv filter=lfs diff=lfs merge=lfs -text
C183.csv filter=lfs diff=lfs merge=lfs -text
C204.csv filter=lfs diff=lfs merge=lfs -text
C206.csv filter=lfs diff=lfs merge=lfs -text
C222.csv filter=lfs diff=lfs merge=lfs -text
C294.csv filter=lfs diff=lfs merge=lfs -text
C209.csv filter=lfs diff=lfs merge=lfs -text
C253.csv filter=lfs diff=lfs merge=lfs -text
C260.csv filter=lfs diff=lfs merge=lfs -text
C267.csv filter=lfs diff=lfs merge=lfs -text
C268.csv filter=lfs diff=lfs merge=lfs -text
C287.csv filter=lfs diff=lfs merge=lfs -text
C212.csv filter=lfs diff=lfs merge=lfs -text
C297.csv filter=lfs diff=lfs merge=lfs -text
C300.csv filter=lfs diff=lfs merge=lfs -text
C275.csv filter=lfs diff=lfs merge=lfs -text
C283.csv filter=lfs diff=lfs merge=lfs -text
C130.csv filter=lfs diff=lfs merge=lfs -text
C159.csv filter=lfs diff=lfs merge=lfs -text
C232.csv filter=lfs diff=lfs merge=lfs -text
C234.csv filter=lfs diff=lfs merge=lfs -text
C245.csv filter=lfs diff=lfs merge=lfs -text
C272.csv filter=lfs diff=lfs merge=lfs -text
C299.csv filter=lfs diff=lfs merge=lfs -text
C269.csv filter=lfs diff=lfs merge=lfs -text
C276.csv filter=lfs diff=lfs merge=lfs -text
C106.csv filter=lfs diff=lfs merge=lfs -text
C107.csv filter=lfs diff=lfs merge=lfs -text
C127.csv filter=lfs diff=lfs merge=lfs -text
C155.csv filter=lfs diff=lfs merge=lfs -text
C214.csv filter=lfs diff=lfs merge=lfs -text
C224.csv filter=lfs diff=lfs merge=lfs -text
C282.csv filter=lfs diff=lfs merge=lfs -text
